body {
    font-size: 150%;
}

body div:nth-child(1) {
    text-align: center;
}

a {
    position: relative;
    left: 60%;
}

input {
    padding: 5px;
    font-size: 20px;
}
.b input {
    padding: 0;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: .5px solid #767676;
    transform: translateY(-15%);
}

td, th {
    padding: 5px 250px 5px 20px;
}